<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="iitb.rs.h15portal" >

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".splashscreen"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".db"
            android:label="@string/title_activity_db"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".sg"
            android:label="@string/title_activity_sg"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".general"
            android:label="@string/title_activity_general" >
        </activity>
        <activity
            android:name=".comp"
            android:label="@string/title_activity_comp" >
        </activity>
        <activity
            android:name=".cult"
            android:label="@string/title_activity_cult" >
        </activity>
        <activity
            android:name=".maint"
            android:label="@string/title_activity_maint" >
        </activity>
        <activity
            android:name=".mess"
            android:label="@string/title_activity_mess" >
        </activity>
        <activity
            android:name=".sports"
            android:label="@string/title_activity_sports" >
        </activity>
        <activity
            android:name=".tech"
            android:label="@string/title_activity_tech" >
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
        </activity>
    </application>

</manifest>
